body {
  font-family: 'Open Sans'
  font-weight: 400;
}

.form-area {
  background-color: #E5F3F2;
  height: 35vh;
  display: grid;
  grid-template: 15% 15% 15% 15% 40%  / 25% 50% 25%;
}

.idea-header {
  color:#00A79D;
  grid-area: 1 / 2 / 1 / 3;
  justify-self: center;
  font-size: 3em;
  font-weight: 700;
  font-family: 'Roboto Slab';
  margin-top: 3vh;


}

span {
  color: #606E71;
}

.user-input-form {
  grid-area: 3 / 2/ 5 / 3;
  display: grid;
  grid-row-gap: 1px;
}

input {
  height: 3vh;
  /*border: 1px solid #606E71;*/
  margin-bottom: 1vh;
}

input::placeholder {
  color: #BDBEC0;
  font-size: 15px;
  padding-left: 1vh;
}

.save-button {
   width: 100%;
   background-color: #4CA59E;
   height: 5vh;
   color: #FFFFFF;
}

.idea-output{
  display: flex;
  justify-content: center;
}

.idea-display{
  width: 50%;
}


.up-vote, .down-vote{
  width: 2vw;

}

